{% extends 'base.html' %}

{% block content %}

<script>
    $(document).ready(function() {
        $('#gpsdatalist_table').DataTable( {
            dom: 'Bftipr',
            pageLength: 8,
            order: [[ 0, 'des' ]],
            buttons: [ 'csv', 'pdf', 'copy' ]
        });
    } );
</script>

<div class="container text-center mt-3">
    <div class="row no-gutters justify-content-center">
        <div class="col-md-4">

            <div class="container">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}" role="alert">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

            <table id="gpsdatalist_table" class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Lat</th>
                        <th scope="col">Lon</th>
                        <th scope="col">Alt</th>
                        <th scope="col">Sat</th>
                    </tr>
                </thead>
                <tbody>
                {% for gpsdata in gpsdatalist %}
                    <tr>
                        <td><a href="{{gpsdata.url}}" target="_blank">{{gpsdata.id}}</a></td>
                        <td>{{gpsdata.latitude}}</td>
                        <td>{{gpsdata.longitude}}</td>
                        <td>{{gpsdata.altitude}}</td>
                        <td>{{gpsdata.satellites}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div>
                <a class="btn btn-primary" href="{{ url_for('view.deleteGpsData') }}" role="button">Delete all</a>
                <a class="btn btn-primary" href="{{ url_for('view.gpsdatalist') }}" role="button">Refresh</a>
                <a class="btn btn-primary" href="{{ url_for('view.homepage') }}" role="button">Back</a>
            </div>

        </div>
    </div>
</div>

{% endblock %}