{% extends 'base.html' %}

{% block content %}

<div class="container text-center mt-3">
    <div class="row no-gutters justify-content-center">
        <div class="col-md-4">

            <div class="container">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}" role="alert">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

                <form method="POST" action="/save_setup">
                    <div class="form-group">
                        <label  for="camera_ip">Camera IP address</label>
                        <input type="text" name="camera_ip" class="form-control" id="camera_ip" value="{{ setup.camera_ip }}" placeholder="http://localhost:8081">
                        <label for="gps_interval">GPS interval (sec.) track (-1=no track)</label>
                        <input type="number" name="gps_interval" class="form-control" id="gps_interval" value="{{ setup.gps_interval }}" placeholder="GPS interval (s.)">
                        <label for="gps_store">Store GPS data limit (-1=no store) </label>
                        <input type="number" name="gps_store" class="form-control" id="gps_store" value="{{ setup.gps_store }}">
                        <label  for="url_geomap">URL to open geo coordinates</label>
                        <input type="text" name="url_geomap" class="form-control" id="url_geomap" value="{{ setup.url_geomap }}" placeholder="http://maps.google.com/maps?q={0},{1}">
                        <label for="client_keepalive_interval">Keep-alive from client (s.)</label>
                        <input type="number" name="client_keepalive_interval" class="form-control" id="client_keepalive_interval" value="{{ setup.client_keepalive_interval }}">
                        <label for="stop_on_lost_connection_interval">Stop on lost connection after (s.)</label>
                        <input type="number" name="stop_on_lost_connection_interval" class="form-control" id="stop_on_lost_connection_interval" value="{{ setup.stop_on_lost_connection_interval }}">
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a class="btn btn-primary" href="{{ url_for('view.homepage') }}" role="button">Back</a>
                </form>

        </div>

    </div>

{% endblock %}