{% extends 'base.html' %}

{% block content %}

<div class="container text-center mt-3">
    <div class="row no-gutters justify-content-center">
        <div class="col-md-4">

            <div class="container">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
             </div>

             <div class="container">
                <form method="POST" action="/save_setup">
                    <div class="form-group">
                        <input type="text" name="camera_ip" class="form-control" id="camera_ip" value="{{ setup.camera_ip }}" placeholder="Cam address (http://localhost:8081)">
                        <label class="custom-control-label" for="camera_ip">IP Cam</label>
                    </div>
                    <div class="form-group">
                        <input type="number" name="gps_interval" class="form-control" id="gps_interval" value="{{ setup.gps_interval }}" placeholder="GPS interval (s.)">
                        <label class="custom-control-label" for="gps_interval">GPS interval (s.)</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="gps_store" id="gps_store" {% if setup.gps_store == 1 %} checked {% endif %}>
                        <label class="custom-control-label" for="enabled">GPS store</label>
                    </div>
                    <div class="form-group">
                        <input type="number" name="stop_on_lost_connection_interval" class="form-control" id="stop_on_lost_connection_interval" value="{{ setup.stop_on_lost_connection_interval }}" placeholder="Stop on lost connection (s.)">
                        <label class="custom-control-label" for="stop_on_lost_connection_interval">Stop on lost connection after (s.)</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a class="btn btn-primary" href="{{ url_for('view.homepage') }}" role="button">Back</a>
                </form>
            </div>
        </div>

    </div>

{% endblock %}